<!DOCTYPE html>
<html lang="en">

<head>
  <title>ACTIVE LEARNING PORTAL</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/login.css" />
</head>

<body>
  <section class="container">
    <header>Choose your active learning method</header>
    
      <button>FLIPPED CLASSROOM</button>
      <br>
      <button>THINK PAIR SHARE</button>
      <br>
      <button>THE MINUTE PAPER</button>
      <br>
      <button action="">SEMINAR</button>
      <br>
      <button>OTHER</button>
   
  </section>
</body>

</html>