<!DOCTYPE html>
<html lang="en">

<head>
  <title>ACTIVE LEARNING PORTAL</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
</head>

<body>
  <section class="container">
    <div class="method">
      <header>Choose your active learning method</header>
      <form action="/method_selection" method="POST">
        <input type="submit" name="submit_button" value="Flipped">
        <input type="submit" name="submit_button" value="Tps">
        <input type="submit" name="submit_button" value="Seminar">
        <input type="submit" name="submit_button" value="Minute">
      </form>
     

    </div>
  </section>
</body>

</html>