<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active learning login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
</head>

<body class="table">

  <section class="t-container">
    <div class="bg-cyan-100/50 flex items-center">
      <img src="img/logo1.png" alt="" width=7% />
      <img src="img/logo.png" alt="" height="" width=80% />
    </div>



    <header>Activity learning details-'CSE'</header>
    <form action="/filter" method="POST">
      <input type="submit" name="submit_button" value="Filter">
        <input type="submit" name="submit_button" value="Add">
    </form>
    <table>
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Faculty in Charge</th>
          <th>Date</th>
          <th>Academic Year</th>
          <th>Class</th>
          <th>Method</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        {% for data in tps_data %}
        <tr>
          
          <td>{{ data.id }}</td>
          <td>{{ data.academic_year }}</td>
          <td>{{data.faculty_in_charge}}</td>
          <td>{{data.date}}</td>
          <td>{{data.academic_year}}</td>
          <td>{{data.class_name}}</td>
          <td>tps</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">

      <div class="pagination">
        <span class="page-number"></span>
        <button class="prev-btn">Previous</button>

        <button class="next-btn">Next</button>
      </div>
  </section>
  <script src="script.js"></script>
</body>

</html>